/* last-cont */

.last-cont{
   
    
    height: 90vh;
    
    background-color: black;
    /* max-width: 70%; */
  }
  .about{
    /* background-color: black; */
  }
  .about-cont{
    /* background-color: black; */
    max-width: 75%;
    margin: auto;
    padding: 20px;
  }
  .para{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  input::placeholder{
    color: rgba(255, 255, 255, 0.651);
  }
  .last-cta-container{
    
      
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      margin-top: 20px;
  
  }
  .call{
   margin: 50px 0px 0px 1px;
   
   color: rgba(255, 255, 255, 0.696);


   /* display: grid;
   margin-inline: 47px;
   text-align: left;
  min-width: 150px; */

    
  }
  .abt-list{
    display: flex;
    /* text-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    margin-top:40px;
    max-width: 1200px;    
  }
.footer-list{
    text-align: left;
    min-width: 150px;
    display:grid;
    justify-content:centre;
    /* margin-inline: 47px; */
    
    row-gap: 10px;
    margin-right: 60px;
    
    
}
.footer-list a{
    color: rgba(255, 255, 255, 0.696);
}
.Nt{
    color: rgba(255, 255, 255, 0.696);
    /* margin-top: 40px; */
    margin: 50px 0px 0px 1px;

}
.language-dropdown-footer{
    margin-top: 60px;
    cursor: pointer;

    border-radius: 4px;
    outline: none;
    height: 40px;
    width: 110px;
    color: white;
    background-color: #fff1f129;
    border: 1px solid #333;
    /* margin: 50px 0px 0px -40px; */
}
